{% extends 'Focuser/focuser_base.html' %}
{% load staticfiles %}
{% block templatecontent %}

<section>
    <div id="container">
        <h2>FOCUSER</h2>
        <img src="{% static 'images/focuser_bg.jpg' %}">
        <span class="footy_center"><strong></strong><br />
         Check our database for a list of upcoming solar eclipses! We also have an RSS feed from the International Space Station,
        and an astronomy picture of the day!</span>
        <br />

    </div>
</section>
{% endblock %}