{% extends 'Focuser/focuser_base.html' %}
{% load staticfiles %}
{% block templatecontent %}

<section>
    <div id="footyPic">
        <img src="{% static 'images/focuser_bg.jpg' %}">
        <span class="footy_center"><strong></strong><br />
         Check our database for a list of upcoming solar eclipses! We also have an RSS feed from the International Space Station,
        and an astronomy picture of the day!</span>
        <br />
        <a class="footy_caption" href="https://unsplash.com/@davidclarke?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from david clarke"><span>photo by david clarke</span></a>
    </div>
</section>