{% extends 'base.html' %}
{% load staticfiles %}
{% block appcontent %}
    <section>
        <div class="flex-container wrapper">
            <h5>Focuser</h5>
            <hr />
            <a class= 'tabNav' href="{% url 'focuser' %}">Home</a>
            <a class= 'tabNav'  href="{% url 'listEclipses' %}">Eclipse events</a>
            <a class= 'tabNav'  href="{% url 'apod' %}">NASA picture of the day</a>
            <a class= 'tabNav'  href="{% url 'iss' %}">ISS News</a>
            <a class= 'tabNav'  href="{% url 'favorites' %}">Favorites</a>
        </div>
    </section>


    {% block templatecontent %}{% endblock %} <!-- section that all the template specific content will render within -->

{% endblock %}