{% extends 'Focuser/focuser_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <section>
        <h4>Are you sure you want to delete?</h4>
        <div class="flex-container">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" onclick="location.href='{% url 'delete' pk=item.pk %}'">Delete</button>
                <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'listEclipses' %}'">Back to List</button>
            </form>

        </div>
    </section>

{% endblock %}