{% extends 'Focuser/focuser_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <section>
    <div class="flex-container">
        <div class="apod_container">
            <h4>{{title}}</h4>                              <!--displays the title from the API-->
            <img class="apod_img" src="{{hdurl}}">          <!--displays the image from the API-->

            <h5></h5>
            <p id="apod_description">{{explanation}}</p>                          <!--displays an explanation from the API-->
        </div>
        <form method="post">
            {% csrf_token %}
            <h5>Find another entry</h5>
            <input type="date" name="date">
            <button class="btn btn-danger" onclick="location.href='{% url 'apod' %}'">Submit</button>
        </form>

        <form method ="post">
            {% csrf_token %}
            <input type="hidden" name="title" value="{{title}}">
            <input type="hidden" name="explanation" value="{{explanation}}">
            <input type="hidden" name="image_url" value="{{hdurl}}">
            <button class="btn btn-danger">Save to Favorites</button>
        </form>

    </div>
</section>


{% endblock %}