{% extends 'plantPlanner/plant_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div id="plantPics">
        <div class="grid-container">
            <div class="grid-row">
                <h3>No matter what type of garden you plan to grow,</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/plant_home2.jpg' %}">
            </div>
            <div class="grid-item">
                <img src="{% static 'images/plant_home3.jpg' %}">
            </div>
            <div class="grid-row">
                <h3>No matter what size of garden you plan to cultivate,</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'images/plant_home1.jpg' %}">
            </div>
            <div class="grid-item">
                <img src="{% static 'images/plant_home4.jpg' %}">
            </div>
            <div class="grid-row">
                <h3>Plant Planner is the perfect way to track each and every sprout</h3>
            </div>
        </div>
    </div>

</section>
{% endblock %}