{% extends 'plantPlanner/plant_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section >
    <div class="flex-container">
        <table class="table-striped">
            <tr id="PlantLabel">
                <th class="col-md">Name</th>
                <th class="col-md">Family</th>
                <th class="col-md">Category</th>
                <th class="col-md">Genus</th>
                <th class="col-md">Primary Color</th>
                <th class="col-md">Height</th>
                <th class="col-md">Year Sown</th>
            </tr>
            {% for plant in plants %}     <!-- creates a new row for each jersey in the collection -->
                <tr>
                    <td class="col-md">{{plant.name}}</td>
                    <td class="col-md">{{plant.family}}</td>
                    <td class="col-md">{{plant.category}}</td>
                    <td class="col-md">{{plant.genus}}</td>
                    <td class="col-md">{{plant.primary_color}}</td>
                    <td class="col-md">{{plant.height}}</td>
                    <td class="col-md">{{plant.year_sown}}</td>

                    <td class="col-md"><a href="{{plant.pk}}/Details"><button class="primary-light-button">Details</button></a></td>    <!-- creates a link for that specific plant -->
                </tr>

            {% endfor %}
        </table>
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'create' %}'">Add to Garden</button>
    </div>
</section>
{% endblock %}
