{% extends 'plantPlanner/plant_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <section>
        <h4>Make Changes</h4>
        <div class="flex-container">
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }} <!-- this only renders the td tags, still need the table tags -->
                </table>
                {{ form.non_field_errors }}
                <button class="primary-bright-button" type="submit">Submit Changes</button>                <!--Submit changes button-->
            </form>
            <button class="primary-bright-button" onclick="location.href='{% url 'delete' pk=item.pk %}'">Delete</button>

            <hr />
            <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'index' %}'">Back to List</button>
        </div>
    </section>


{% endblock %}