{% extends 'plantPlanner/plant_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="flex-container-plant" id="planttable">

        <table>
            <tr>
                <th>Plant Name:</th>
                <td>{{plant.name}}</td>
            </tr>
            <tr>
                <th>Family:</th>
                <td>{{plant.family}}</td>
            </tr>
            <tr>
                <th>Category:</th>
                <td>{{plant.category}}</td>
            </tr>
            <tr>
                <th>Genus:</th>
                <td>{{plant.genus}}</td>
            </tr>
            <tr>
                <th>Primary Color:</th>
                <td>{{plant.primary_color}}</td>
            </tr>
            <tr>
                <th>Height:</th>
                <td>{{plant.height}}</td>
            </tr>
            <tr>
                <th>Year Sown:</th>
                <td>{{plant.year_sown}}</td>
            </tr>
        </table>

        <hr />
        <button class="primary-bright-button" type="button" onclick=" location.href='{% url 'index' %}'">Back to Garden</button>
    </div>
</section>
{% endblock %}
