/* Defining Root Colors */
:root{
    --midtone: #8D7148;
    --neutral: #B49159;
    --contrast: #403025;
    --standout: #2F3C48;
    --highlight: #f7c552;
    --lightGray: #E8EFF6;
}

body{
    background: linear-gradient(180deg, black, transparent 20%), linear-gradient(360deg, #000, transparent 20%), #090c1f url(/static/images/starfield.jpg) no-repeat center center fixed;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    max-height: 100%;
    margin: 0;
    overflow: scroll;
}

.jumbotron{
    background-color: transparent;
    color:var(--neutral);
}
.main-content {
    color:#fff!important;
    letter-spacing:1px;
    background: #0e0d0db8;
    padding: 10px 40px;
    /*border: solid 1px var(--lightGray);*/
    border-radius: 20px;
}

.main-content p {
    color:#fff;
    font-style:italic;
    word-spacing: 3.5px;
}

/* ===========================================
  Navigation Bar styling  //  START
=============================================*/
.navbar-global .navbar-brand {
    color: white;
    border-radius: 10px;
    font-family: 'Permanent Marker', cursive;
    background:#0000009e;
}
.collapsed + .main-content {
    margin-left: 30px;
}

#buttonList {
    transition: all .7s;
}
.wheelButtons{
    display: flex;
    justify-content: center;
}

.wheelButtons a {
    display: flex;
}

.wheelButtons img{
    width: 50px;
    background: var(--standout);
    border-radius: 50%;
}

.wheelButtons figcaption{
    color: var(--neutral);
    margin-left: -10px;
}

#mainWheel > .wheelButtons{
    color: var(--neutral);
    align-self: center;
    padding:20px;
    width: 50px;
    background: var(--standout);
}

/* ShipsWheel Animation */
.wheelButtons img {
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
}

.wheelButtons img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}


/* ===== Navigation Bar styling  //  END =====*/

/* ===========================================
     Footer styling //  START
=============================================*/
.footer {
    padding:10px 0;
    color: var(--neutral);
    position: fixed;
    bottom: 30px;
    margin: 0;
    width: 10%;
    background:transparent;
}

/* Social Media Styling */

.footer .item.social > a:hover {
    opacity:0.9;
}

.footer .item.social {  /* Sets column placement off window left */
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}

.footer .item.social  > a { /* Sets animation content */
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 295px;  /* Sets right edge distance to screen left */
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.footer .item.social > a:hover { /* Sets movement toward right */
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}

.footer .item.social a:hover  { /* Sets animation hover color change */
  color: #f7c552;
}

.footer .item.social a:hover i { /* Rotates image on hover */
  color: #f7c552;
  background: white;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.footer .item.social a > i { /* Crops around icon */
  margin-left: 10px;
  color: #white; /* Color of icons and text */
  background: #fff;
  padding: .5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* End Social Media Styling */

.footer .copyright {
   font-style:italic;
    padding-bottom:14px;
    font-size:13px;
    margin-bottom:0;
    color:#fff;
}





/* =====  Footer styling  //  END =====*/

/* Beginning of the stock CSS template */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	color: var(--midtone);
	font-size: 13px;
	line-height: 24px;
}

.primary-light-button {

	background-color: var(--contrast);
	color: var(--lightGray);
	display: inline-block;
	font-size: 12px;
	padding:5px 12px 5px 12px;
	letter-spacing: 1px;
	text-decoration: none;
	border-radius: 20px;
	border: none;
	margin:1px;
}

.primary-bright-button {
	background-color: var(--standout);
	color: var(--neutral);
	display: inline-block;
	font-size: 12px;
	padding:5px 12px 5px 12px;
	letter-spacing: 1px;
	text-decoration: none;
	border-radius: 20px;
	border: none;
	margin-top:3px;
	text-transform: uppercase;
}

.primary-bright-button:hover , .primary-light-button:hover{
    box-shadow: 0px 0px 4px 2px var(--highlight);
}

.primary-light-button:hover{
    box-shadow: 0px 0px 4px 2px #fff;
}

.wrapper {
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
}

.news{
 background:#0000009e;
 padding: 10px;
 border-radius: 15px;
 text-decoration:none;
}

.wrapper h5{
    background:var(--contrast);
    display:inline-block;  /* Sets width of content */
}

.wrapper .tabNav, h5 {
    color: #fff;
    background:#0000009e;
    font-style:none;
    text-decoration:none;
    padding:10px;
    border-radius:20px;

}

/* tabNav Animations */

.tabNav {  /* Adds a box shadow to give depth */
    box-shadow: 0 2px 0 #403025;
    position: relative;
}

.tabNav:hover {   /* Changes color on hover */
    background-color: #2f3c48;
}

.tabNav:active {  /* Gives a pressed effect */
    box-shadow: none;
    top: 2px;
}



/* End of the stock CSS template */


/* ==========================================================
            Specific Styling for Focuser app
========================================================*/

div #container{
    text-align: center;
    position: relative;
    padding:0;
}

.focuser_background {
    border-radius: 20%;
    height:10%;
    height:600px;
/*   padding: 80px;*/
    align: center;
    margin:0;
    vertical-align:middle;
    width: 100%;
    filter: blur(10px);

}

.focused {
    width: auto;
    border-radius: 50%;
    filter: blur(0px);
    transition: all 4s ease-in-out;
}

a {
    font-family: 'Russo One', sans-serif;
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'Audiowide', cursive;
}

.focuser_col {
    margin: 10px;
    align: center;

}

.index_background {
    background: rgb(0,0,0);
background: radial-gradient(circle at 40%, rgba(0,0,0,1) 14%, rgba(255,255,255,1) 16%, rgba(0,0,0,1) 19%);
}

.apod_container {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.apod_img {
    width: 100%;
    opacity: 0
}

.apod_img_transition {
    opacity: 1;
    transition: all 1.8s ease-in-out;
}

#apod_description {
    font-size: 1.2em;
    background-color: black;
}

.iss_container {

    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(27,29,56,1) 50%, rgba(0,0,0,1) 100%);

}

.iss_title {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(27,29,56,1) 50%, rgba(0,0,0,1) 100%);
}
/*==========================================
            End Focuser Styling
===========================================*/


/* ============= RESPONSIVE max-width: 991p =========== */

@media (max-width: 991px){

}

/* ============= RESPONSIVE max-width: 768px =========== */
@media (max-width: 768px){

}

/* ============= RESPONSIVE max-width: 385px=========== */
@media (max-width: 385px){


}


