{% extends 'VinylCollection/VinylCollection_Base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="album-table-details">
        <table>
            <tr>
                <th>Title</th>
                <td>{{Album.title}}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{Album.artist}}</td>
            </tr>
        </table>
    </div>

    <div>
        <!-- Scrape the album image later and show with details -->
    </div>

        <br>

    <div class="btn-group">
        <a href="{% url 'albumAdd' %}">Add Another</a>
        <a href="{% url 'albumList' %}">Back to List</a>
    </div>
</section>
{% endblock %}